WpfAppDispatcher/Connected Services/ServiceReference/Service3.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service3" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49296/Service3.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49296/Service3.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49296/Service3.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DAL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceDispatcher_Authorization_InputMessage">
    <wsdl:part name="parameters" element="tns:Authorization" />
  </wsdl:message>
  <wsdl:message name="IServiceDispatcher_Authorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDispatcher_AboutDispatcher_InputMessage">
    <wsdl:part name="parameters" element="tns:AboutDispatcher" />
  </wsdl:message>
  <wsdl:message name="IServiceDispatcher_AboutDispatcher_OutputMessage">
    <wsdl:part name="parameters" element="tns:AboutDispatcherResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDispatcher_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="IServiceDispatcher_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDispatcher_CreateDriver_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDriver" />
  </wsdl:message>
  <wsdl:message name="IServiceDispatcher_CreateDriver_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDriverResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDispatcher_CreateCar_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCar" />
  </wsdl:message>
  <wsdl:message name="IServiceDispatcher_CreateCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDispatcher_AllCars_InputMessage">
    <wsdl:part name="parameters" element="tns:AllCars" />
  </wsdl:message>
  <wsdl:message name="IServiceDispatcher_AllCars_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllCarsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDispatcher_AllDrivers_InputMessage">
    <wsdl:part name="parameters" element="tns:AllDrivers" />
  </wsdl:message>
  <wsdl:message name="IServiceDispatcher_AllDrivers_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllDriversResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceDispatcher">
    <wsdl:operation name="Authorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDispatcher/Authorization" message="tns:IServiceDispatcher_Authorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDispatcher/AuthorizationResponse" message="tns:IServiceDispatcher_Authorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AboutDispatcher">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDispatcher/AboutDispatcher" message="tns:IServiceDispatcher_AboutDispatcher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDispatcher/AboutDispatcherResponse" message="tns:IServiceDispatcher_AboutDispatcher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDispatcher/Registration" message="tns:IServiceDispatcher_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDispatcher/RegistrationResponse" message="tns:IServiceDispatcher_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDriver">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDispatcher/CreateDriver" message="tns:IServiceDispatcher_CreateDriver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDispatcher/CreateDriverResponse" message="tns:IServiceDispatcher_CreateDriver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDispatcher/CreateCar" message="tns:IServiceDispatcher_CreateCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDispatcher/CreateCarResponse" message="tns:IServiceDispatcher_CreateCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllCars">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDispatcher/AllCars" message="tns:IServiceDispatcher_AllCars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDispatcher/AllCarsResponse" message="tns:IServiceDispatcher_AllCars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllDrivers">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDispatcher/AllDrivers" message="tns:IServiceDispatcher_AllDrivers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDispatcher/AllDriversResponse" message="tns:IServiceDispatcher_AllDrivers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceDispatcher" type="tns:IServiceDispatcher">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authorization">
      <soap:operation soapAction="http://tempuri.org/IServiceDispatcher/Authorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AboutDispatcher">
      <soap:operation soapAction="http://tempuri.org/IServiceDispatcher/AboutDispatcher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registration">
      <soap:operation soapAction="http://tempuri.org/IServiceDispatcher/Registration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDriver">
      <soap:operation soapAction="http://tempuri.org/IServiceDispatcher/CreateDriver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCar">
      <soap:operation soapAction="http://tempuri.org/IServiceDispatcher/CreateCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllCars">
      <soap:operation soapAction="http://tempuri.org/IServiceDispatcher/AllCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllDrivers">
      <soap:operation soapAction="http://tempuri.org/IServiceDispatcher/AllDrivers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service3">
    <wsdl:port name="BasicHttpBinding_IServiceDispatcher" binding="tns:BasicHttpBinding_IServiceDispatcher">
      <soap:address location="http://localhost:49296/Service3.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>