WpfAppClient/Connected Services/ServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49296/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49296/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49296/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DAL" />
      <xsd:import schemaLocation="http://localhost:49296/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BLL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Authorization_InputMessage">
    <wsdl:part name="parameters" element="tns:Authorization" />
  </wsdl:message>
  <wsdl:message name="IService1_Authorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="IService1_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AboutClient_InputMessage">
    <wsdl:part name="parameters" element="tns:AboutClient" />
  </wsdl:message>
  <wsdl:message name="IService1_AboutClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AboutClientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangeInfoAboutClient_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeInfoAboutClient" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangeInfoAboutClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeInfoAboutClientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SendMessageToDispatcher_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageToDispatcher" />
  </wsdl:message>
  <wsdl:message name="IService1_SendMessageToDispatcher_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageToDispatcherResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AllOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:AllOrders" />
  </wsdl:message>
  <wsdl:message name="IService1_AllOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrder" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrice" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPriceResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Authorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Authorization" message="tns:IService1_Authorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AuthorizationResponse" message="tns:IService1_Authorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Registration" message="tns:IService1_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegistrationResponse" message="tns:IService1_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AboutClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AboutClient" message="tns:IService1_AboutClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AboutClientResponse" message="tns:IService1_AboutClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeInfoAboutClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ChangeInfoAboutClient" message="tns:IService1_ChangeInfoAboutClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ChangeInfoAboutClientResponse" message="tns:IService1_ChangeInfoAboutClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageToDispatcher">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SendMessageToDispatcher" message="tns:IService1_SendMessageToDispatcher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SendMessageToDispatcherResponse" message="tns:IService1_SendMessageToDispatcher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AllOrders" message="tns:IService1_AllOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AllOrdersResponse" message="tns:IService1_AllOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateOrder" message="tns:IService1_CreateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateOrderResponse" message="tns:IService1_CreateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPrice" message="tns:IService1_GetPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPriceResponse" message="tns:IService1_GetPrice_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authorization">
      <soap:operation soapAction="http://tempuri.org/IService1/Authorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registration">
      <soap:operation soapAction="http://tempuri.org/IService1/Registration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AboutClient">
      <soap:operation soapAction="http://tempuri.org/IService1/AboutClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeInfoAboutClient">
      <soap:operation soapAction="http://tempuri.org/IService1/ChangeInfoAboutClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageToDispatcher">
      <soap:operation soapAction="http://tempuri.org/IService1/SendMessageToDispatcher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllOrders">
      <soap:operation soapAction="http://tempuri.org/IService1/AllOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrder">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrice">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:49296/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>