WpfAppDriver/Connected Services/ServiceReference/Service2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service2" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49999/Service2.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49999/Service2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49999/Service2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DAL" />
      <xsd:import schemaLocation="http://localhost:49999/Service2.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BLL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceDriver_Authorization_InputMessage">
    <wsdl:part name="parameters" element="tns:Authorization" />
  </wsdl:message>
  <wsdl:message name="IServiceDriver_Authorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDriver_AboutDriver_InputMessage">
    <wsdl:part name="parameters" element="tns:AboutDriver" />
  </wsdl:message>
  <wsdl:message name="IServiceDriver_AboutDriver_OutputMessage">
    <wsdl:part name="parameters" element="tns:AboutDriverResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDriver_AllCars_InputMessage">
    <wsdl:part name="parameters" element="tns:AllCars" />
  </wsdl:message>
  <wsdl:message name="IServiceDriver_AllCars_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllCarsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDriver_AllOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:AllOrders" />
  </wsdl:message>
  <wsdl:message name="IServiceDriver_AllOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDriver_AllReports_InputMessage">
    <wsdl:part name="parameters" element="tns:AllReports" />
  </wsdl:message>
  <wsdl:message name="IServiceDriver_AllReports_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllReportsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDriver_ChangeInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeInfo" />
  </wsdl:message>
  <wsdl:message name="IServiceDriver_ChangeInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDriver_WriteToDispatcher_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteToDispatcher" />
  </wsdl:message>
  <wsdl:message name="IServiceDriver_WriteToDispatcher_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteToDispatcherResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceDriver">
    <wsdl:operation name="Authorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDriver/Authorization" message="tns:IServiceDriver_Authorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDriver/AuthorizationResponse" message="tns:IServiceDriver_Authorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AboutDriver">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDriver/AboutDriver" message="tns:IServiceDriver_AboutDriver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDriver/AboutDriverResponse" message="tns:IServiceDriver_AboutDriver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllCars">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDriver/AllCars" message="tns:IServiceDriver_AllCars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDriver/AllCarsResponse" message="tns:IServiceDriver_AllCars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDriver/AllOrders" message="tns:IServiceDriver_AllOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDriver/AllOrdersResponse" message="tns:IServiceDriver_AllOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllReports">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDriver/AllReports" message="tns:IServiceDriver_AllReports_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDriver/AllReportsResponse" message="tns:IServiceDriver_AllReports_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDriver/ChangeInfo" message="tns:IServiceDriver_ChangeInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDriver/ChangeInfoResponse" message="tns:IServiceDriver_ChangeInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteToDispatcher">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDriver/WriteToDispatcher" message="tns:IServiceDriver_WriteToDispatcher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDriver/WriteToDispatcherResponse" message="tns:IServiceDriver_WriteToDispatcher_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceDriver" type="tns:IServiceDriver">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authorization">
      <soap:operation soapAction="http://tempuri.org/IServiceDriver/Authorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AboutDriver">
      <soap:operation soapAction="http://tempuri.org/IServiceDriver/AboutDriver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllCars">
      <soap:operation soapAction="http://tempuri.org/IServiceDriver/AllCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllOrders">
      <soap:operation soapAction="http://tempuri.org/IServiceDriver/AllOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllReports">
      <soap:operation soapAction="http://tempuri.org/IServiceDriver/AllReports" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeInfo">
      <soap:operation soapAction="http://tempuri.org/IServiceDriver/ChangeInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteToDispatcher">
      <soap:operation soapAction="http://tempuri.org/IServiceDriver/WriteToDispatcher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service2">
    <wsdl:port name="BasicHttpBinding_IServiceDriver" binding="tns:BasicHttpBinding_IServiceDriver">
      <soap:address location="http://localhost:49999/Service2.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>